<!-- <p>quote works!</p> -->

<div class="container" style="color:white">
    <div>
        <!-- <p style="text-align: center;color:black;font-family:sans-serif">More than 4 Famous Quotes on Life, Love, and Success .The Quotes can inspire you by encourage any one</p> -->
    </div>
    <!-- <h1 style="text-align: center">My Quotes</h1> -->
    <hr>
    <div class="row">
        <div class="col-md-6"
            style="background-image: url('https://res.cloudinary.com/drrezzrvd/image/upload/v1566745194/download_1_z6vkdt.jpg')">
            <h2 style="text-align: center">My Quotes</h2>
            <br>

            <div *ngFor='let quote of quotes;let i=index'>
                <div>
                    <h6 id={{i}} appStrikethrough>{{quote.name}} due on {{quote.completeDate|date|uppercase}}</h6>
                    <button (click)='toggleDetails(i)' class="btn " style="background-color: white">Toggle</button>
                </div>
                <div *ngIf='quote.showDescription'>

                    <app-quote-detail [quote]='quote' (isComplete)='deleteQuote($event,i)'></app-quote-detail>


                </div>
            </div>
        </div>
        <div class="col-md-6">
            <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>

        </div>
    </div>
    <p *ngIf='quotes.length >6'> you have more than 6 quotes</p>
    <hr>


</div>